# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter notebook
.ipynb_checkpoints
*.ipynb

# IPython
profile_default/
ipython_config.py

# PEP 582
__pypackages__/

# Environment
venv/
.vscode/

# Data 
osf*
data/01_raw/*
!data/01_raw/discrete/*
!data/01_raw/README.txt
data/02_interim/*
!data/02_interim/README.txt

# PDF
*.pdf
